// default color set
$primary-color : #f3e402;
// color variation
$hover-color : #007ae1;
// title color



// social color

// body var
$iconFontawesome: 'FontAwesome';
$iconFontawesome: 'boxicons';

$bodyFont: 'Carmen Sans', sans-serif;
$fontWeight: 250;
$bColor: #828181;
$bfSize: 16px;
$blineHeight: 28px;
$transition:all .5s;


